<div class="container-fluid">
	<div class="row profile">
		<div class="background">
			<div class="container-fluid container-meeter profile-events-container">
				<img src="/dist/img/profile.default.avatar.png">

			</div>
		</div>
	</div>
</div>

<div class="container-fluid container-meeter profile-events-container">

	<div class="row">
		<div class="col-lg-12 tools">
			<div class="btn-group left">
				<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Left'" uncheckable>All</label>
				<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Actual</label>
				<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Friends</label>
				<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Past</label>
				<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Social</label>
			</div>
			<div class="btn-group right">
				<label class="btn btn-default glyphicon glyphicon-th" ng-model="size" ng-click="size = 4" uib-btn-radio="4" uncheckable></label>
				<label class="btn btn-default glyphicon glyphicon-th-list" ng-model="size" ng-click="size = 12" uib-btn-radio="12" uncheckable></label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-{{size}} col-xs-12 event-item">
			<center>
				<a href="#">
					<div class="event social">
						<img src="dist/img/photos.jpg" alt="">
						<div class="event-container small text-center">
							<span class="title">Forest</span>
							<span class="time">15:32</span>
						</div>
					</div>
				</a>
			</center>
		</div>

		<div class="col-md-{{size}} col-xs-12 event-item">
			<a href="#">
				<div class="event social">
					<img src="dist/img/e.jpg" alt=""/>
					<div class="event-container big text-center">
						<span class="title">Park</span>
						<span class="time">15:32</span>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-{{size}} col-xs-12 event-item">
			<a href="#">
				<div class="event past">
					<img src="dist/img/photos.jpg" alt=""/>
					<div class="event-container small text-center">
						<span class="title">Forest</span>
						<span class="time">15:32</span>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-{{size}} col-xs-12 event-item">
			<center>
				<a href="#">
					<div class="event social">
						<img src="dist/img/photos.jpg" alt="">
						<div class="event-container small text-center">
							<span class="title">Forest</span>
							<span class="time">15:32</span>
						</div>
					</div>
				</a>
			</center>
		</div>

		<div class="col-md-{{size}} col-xs-12 event-item">
			<a href="#">
				<div class="event social">
					<img src="dist/img/e.jpg" alt=""/>
					<div class="event-container big text-center">
						<span class="title">Park</span>
						<span class="time">15:32</span>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-{{size}} col-xs-12 event-item">
			<a href="#">
				<div class="event past">
					<img src="dist/img/photos.jpg" alt=""/>
					<div class="event-container small text-center">
						<span class="title">Forest</span>
						<span class="time">15:32</span>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-{{size}} col-xs-12 event-item">
			<center>
				<a href="#">
					<div class="event social">
						<img src="dist/img/photos.jpg" alt="">
						<div class="event-container small text-center">
							<span class="title">Forest</span>
							<span class="time">15:32</span>
						</div>
					</div>
				</a>
			</center>
		</div>

		<div class="col-md-{{size}} col-xs-12 event-item">
			<a href="#">
				<div class="event social">
					<img src="dist/img/e.jpg" alt=""/>
					<div class="event-container big text-center">
						<span class="title">Park</span>
						<span class="time">15:32</span>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-{{size}} col-xs-12 event-item">
			<a href="#">
				<div class="event past">
					<img src="dist/img/photos.jpg" alt=""/>
					<div class="event-container small text-center">
						<span class="title">Forest</span>
						<span class="time">15:32</span>
					</div>
				</div>
			</a>
		</div>
	</div>

</div>