<div class="col-lg-9 no-margin no-padding">
  <div class="row no-margin profile">
    <div class="col-lg-12">
      <div class="panel panel-default no-padding panel-top">
        <div class="panel-body no-padding">
          <div class="col-lg-12 top">
            <div class="avatar"
              flow-init="target"
              flow-file-added="$file.size < 2000000"
              flow-file-success="getLogoById(id); $flow.files[0].cancel();"
              ng-init="imageUploadShow = false"
              ng-mouseover="imageUploadShow = true"
              ng-mouseleave="imageUploadShow = false">
              <div class="crop"  ng-if="$flow.files[0] == null">
                <img src="/dist/img/error.jpg" alt="">
              </div>
              <div class="crop"  ng-if="$flow.files[0] != null">
                <img flow-img="$flow.files[0]">
                <i class="remove-image" ng-click="$flow.files[0].cancel();"></i>
                <i class="glyphicon glyphicon-ok owner-image-apply" ng-click="$flow.upload();"></i>
              </div>
              <div ng-show="imageUploadShow" class="owner-image-upload full-width show-hide" flow-btn>
                <center>
                <div>
                  <i class="glyphicon glyphicon-arrow-up"></i>
                  <span ng-if="devLogo.logo != 'null'" translate>change</span>
                  <span ng-if="devLogo.logo == 'null'" translate>add</span>
                </div>
                </center>
              </div>
            </div>
            <div class="title-container">
              <div class="title">{{profile.name}} <span class="city">{{profile.city}}</span></div>
              <div class="col-lg-6 col-md-6 col-xs-6 no-padding sub-title">
                <!--   {{profile.email}} <br>
                {{profile.address}} <br>
                {{profile.orderPhoneNumber}} -->
                <table>
                  <tr><td translate>address</td><td>{{profile.address}}</td></tr>
                  <tr><td translate>email</td><td>{{profile.email}}</td></tr>
                  <tr><td translate>phone</td><td>{{profile.orderPhoneNumber}}</td></tr>
                </table>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6 no-padding sub-title worker">
                <a href="#/worker/undefined"><img class="crop" src="/dist/img/hotel.profile.director.svg" align="left"></a>
                <div class="info">
                  <a href="#/worker/undefined">{{profile.fullDirectorName}}</a><br>
                  {{profile.directorPhoneNumber}}
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-6">
              <div
                flow-init="target"
                flow-file-added="$file.size < 2000000"
                flow-file-success="getLogoById(id); $flow.files[0].cancel();"
                flow-drop>
                <div ng-init="imageUploadShow = false"
                  ng-mouseover="imageUploadShow = true"
                  ng-mouseleave="imageUploadShow = false">
                  <img class="logo" ng-if="$flow.files[0] == null" class="avatar" ng-src="data:image/png;base64, {{devLogo.logo}}" onerror="this.src = '/dist/img/no_image.gif'">
                  <div ng-if="$flow.files[0] != null">
                    <uib-progressbar id="ownerProgressUpload" class="progress" value="$flow.files[0].progress() * 100" type="primary"></uib-progressbar>
                    <img class="logo" flow-img="$flow.files[0]" width="100%">
                    <i class="remove-image" ng-click="$flow.files[0].cancel();" uib-tooltip="Remove"></i>
                  </div>
                  <div ng-show="imageUploadShow" class="owner-image-upload full-width show-hide" flow-btn>
                    <center>
                    <div>
                      <i class="glyphicon glyphicon-arrow-up"></i>
                      <span ng-if="devLogo.logo != 'null'" translate>change</span>
                      <span ng-if="devLogo.logo == 'null'" translate>add</span>
                    </div>
                    </center>
                  </div>
                </div>
                <button ng-if="$flow.files[0] != null" type="submit" class="btn btn-primary full-width" ng-class="{'disabled': $flow.files[0] == null}" ng-click="$flow.upload();">apply</button>
              </div>
            </div> -->
          </div>
          <hr>
          <div class="counts">
            <center>
            <div class="count-container">
              <div class="count">{{profile.rooms.length}}</div>
              <div class="count-label">rooms</div>
            </div>
            <div class="count-container" ng-click="openWorkers()">
              <div class="count">{{profile.workers.length}}</div>
              <div class="count-label">workers</div>
            </div>
            <div class="count-container">
              <div class="count">15</div>
              <div class="count-label">photos</div>
            </div>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin profile">
    <div class="col-lg-12">
      <div class="panel panel-default no-padding">
        <div class="panel-heading" translate>rooms</div>
        <div class="panel-body">
          <div class="col-lg-3 col-md-3 col-xs-12 no-padding room" ng-repeat="room in profile.rooms">
            <div class="item">
              <div class="item-container">
                <div class="crop">
                  <img ng-src="/dist/img/room.item{{room.id}}.jpg" alt="">
                </div>
                  <div class="info show-hide">
                    <b>{{room.roomType}}</b> <br>
                    {{room.roomCount}} <span translate>rooms</span>
                    <div class="bed">
                      <span ng-show="room.bedType"><b>1</b></span>
                      <span ng-show="!room.bedType"><b>2</b></span>
                      <img src="/dist/img/bed.svg">
                    </div>
                    <div class="breakfast">
                      <img ng-show="room.breakfast" src="/dist/img/breakfast.svg">
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-margin profile">
    <div class="col-lg-12">
      <div class="panel panel-default no-padding">
        <div class="panel-heading" translate>photos</div>
        <div class="panel-body">
          <div class="col-lg-3 col-md-3 col-xs-12 no-padding room" ng-repeat="room in profile.rooms">
            <div class="item">
              <div class="item-container">
                <div class="crop" style="border-radius: 0; width: 100%" ng-click="openImageById(room.id)">
                  <img ng-src="/dist/img/room.item{{room.id}}.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="panel panel-default no-padding panel-fixed">
    <div class="panel-heading" translate>workers</div>
    <div class="panel-body">
      <ul class="worker-list">
        <li ng-repeat="worker in profile.workers | limitTo: 5">
          <a href="#/worker/undefined"><img class="crop" src="/dist/img/hotel.profile.director.svg" align="left"></a>
          <div class="info">
            <a href="#/worker/undefined">{{worker.fullName}}</a><br>
            <span class="post">{{worker.post}}</span>
          </div>
        </li>
      </ul>
      <button class="btn btn-default full-width" ng-click="openWorkers()" translate>showAllWorkers</button>
    </div>
  </div>
</div>