.owner-image-upload
	position: relative
	height: 30px
	background: rgba(34, 34, 34, 0.5);
	color: silver
	margin-top: -30px
	padding: 5px
	border-radius: 0 0 2px 2px
	font-size: 13px
	div
		color: silver
		transition: 0.2s
		cursor: pointer
		&:hover
			color: #fff

#ownerProgressUpload
	border-radius: 3px 3px 0 0