.owner-image-upload
	position: relative
	height: 50px
	background: rgba(34, 34, 34, 0.5);
	color: silver
	margin-top: -50px
	padding: 15px
	border-radius: 0 0 3px 3px 
	div
		color: silver
		transition: 0.2s
		cursor: pointer
		&:hover
			color: #fff

#ownerProgressUpload
	border-radius: 3px 3px 0 0