.panel-default
	box-shadow: 0 0 2px #ddd
	border-radius: 2px
	border: none
	margin-bottom: 30px
	font-family: 'Open Sans'
	label
		color: #65686c
	label
    	font-size: 13px

	
.panel-default>.panel-heading
	background-color: #fff
	border-color: transparent
	font-size: 13px
	.panel-title
		font-weight: 300
	hr
		margin-top: 10px
		margin-bottom: 0

.fixed
	position: fixed
	right: 0
	width: 280px