<div class="panel panel-default popup">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>{{action}}</h3>
    <i class="glyphicon glyphicon-remove action action-close right" ng-click="closeThisDialog(true)"></i>
  </div>
  <div class="panel-body">
    <ng-form name="roomForm">
      <div class="col-lg-12">
      <label translate>roomType</label>
      <select class="form-control" ng-model="roomType" ng-change="checkForm()">
        <option value="LUX" translate>lux</option>
        <option value="PRESIDENT" translate>president</option>
        <option value="ECONOMIC" translate>economic</option>
      </select>
      <label translate>roomCount</label>
      <input name="roomCount" ng-model="roomCount" type="number" class="form-control" min="1" ng-change="checkForm()">
      <label translate>bedType</label>
      <select class="form-control" ng-model="bedType" ng-change="checkForm()">
        <option value="SINGLE" translate>single</option>
        <option value="DOUBLE" translate>double</option>
      </select>
      <label translate>breakfast</label><br>
      <switch ng-model="breakfast"></switch>
      <label translate>hotel</label>
      <select class="form-control" ng-options="hotel.name for hotel in hotels" ng-model="selHotel" ng-change="checkForm()">
        <option value="" disabled>{{hotel.name}}</option>
      </select>
    </div>
    </ng-form>
    <div class="col-lg-12 tools">
      <button type="submit" ng-class="{'disabled': !formValid}" class="btn btn-primary" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> <span translate>save</span></button>
      <button class="btn btn-default right" ng-click="closeThisDialog(true)" style="margin-right: 15px;">Cancel</button>
    </div>
  </div>
</div>