<div class="col-lg-9 no-margin no-padding">
  <div class="row no-margin profile">
    <div class="col-lg-12">
      <div class="panel panel-default no-padding panel-top">
        <div class="panel-body no-padding">
          <div class="col-lg-12 top bg-hotel">
            <div class="avatar"
              flow-init="target"
              flow-file-added="$file.size < 512000"
              flow-file-success="getLogo(id); $flow.files[0].cancel();"
              ng-init="imageUploadShow = false"
              ng-mouseover="imageUploadShow = true"
              ng-mouseleave="imageUploadShow = false">
              <div class="crop"  ng-if="$flow.files[0] == null">
                <img ng-src="data:image/png;base64, {{logo}}" onerror="this.src = '/dist/img/error.jpg'">
              </div>
              <div class="crop"  ng-if="$flow.files[0] != null">
                <img flow-img="$flow.files[0]">
                <i class="remove-image" ng-click="$flow.files[0].cancel();"></i>
                <i class="glyphicon glyphicon-ok owner-image-apply" ng-click="$flow.upload();"></i>
              </div>
              <div ng-show="imageUploadShow" class="owner-image-upload full-width show-hide" flow-btn>
                <center>
                <div>
                  <i class="glyphicon glyphicon-arrow-up"></i>
                  <span ng-if="devLogo.logo != 'null'" translate>change</span>
                  <span ng-if="devLogo.logo == 'null'" translate>add</span>
                </div>
                </center>
              </div> 
            </div>
            <div class="title-container">
              <div class="title">{{profile.fullName}} <span class="city">{{profile.post}}</span></div>
              <div class="col-lg-6 col-md-6 col-xs-6 no-padding sub-title">
                <table>
                  <tr><td translate>birthday</td><td>{{profile.birthday}}</td></tr>
                  <tr><td translate>sex</td><td>{{profile.sex}}</td></tr>
                  <tr><td translate>experience</td><td>{{profile.experience}}</td></tr>
                  <tr><td translate>previousPost</td><td>{{profile.previousPost}}</td></tr>
                  <tr><td translate>dateOfEmployment</td><td>{{profile.dateOfEmployment}}</td></tr>
                </table>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6 no-padding sub-title worker">
                <a href="#/hotel/{{profile.hotel.id}}"><img class="crop" align="left" ng-src="data:image/png;base64, {{hotelLogo.logo}}" onerror="this.src = '/dist/img/error.jpg'"></a>
                <div class="info">
                  <a href="#/hotel/{{profile.hotel.id}}">{{profile.hotel.name}}</a><br>
                  {{profile.hotel.orderPhoneNumber}}
                </div>
              </div>
            </div>
          </div>
          <!-- <hr> -->
          <!-- <div class="counts">
            <center>
            <div class="count-container">
              <div class="count">{{profile.rooms.length}}</div>
              <div class="count-label">rooms</div>
            </div>
            <div class="count-container" ng-click="openWorkers()">
              <div class="count">{{profile.workers.length}}</div>
              <div class="count-label">workers</div>
            </div>
            <div class="count-container">
              <div class="count">15</div>
              <div class="count-label">photos</div>
            </div>
            </center>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>