<div class="row home">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="/hotels"><img src="/dist/img/hotels.svg" alt="hotels"></a>
      <div class="caption">
        <h3><a href="/hotels">Hotels</a></h3>
        <p><a href="/hotels/add" class="btn btn-primary full-width" role="button">Add hotel</a>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="/rooms"><img src="/dist/img/rooms.svg" alt="rooms"></a>
      <div class="caption">
        <h3><a href="/rooms">Rooms</a></h3>
        <p><a href="/rooms/add" class="btn btn-primary full-width" role="button">Add room</a>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="/workers"><img src="/dist/img/workers.svg" alt="workers"></a>
      <div class="caption">
        <h3><a href="/workers">Workers</a></h3>
        <p><a href="/workers/add" class="btn btn-primary full-width" role="button">Add worker</a>
      </div>
    </div>
  </div>  
</div>