<div class="row home">
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#/hotel"><img src="/dist/img/hotel.svg" alt="hotel"></a>
      <div class="caption">
        <h3><a href="#/hotel" translate>hotel</a></h3>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#/software"><img src="/dist/img/software.svg" alt="software"></a>
      <div class="caption">
        <h3><a href="#/software" translate>software</a></h3>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#/room"><img src="/dist/img/room.svg" alt="room"></a>
      <div class="caption">
        <h3><a href="#/room" translate>room</a></h3>
      </div>
    </div>
  </div>  
</div>