<div class="row home">
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#/developer"><img src="/dist/img/developer.svg" alt="developer"></a>
      <div class="caption">
        <h3><a href="#/developer" translate>developer</a></h3>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#/software"><img src="/dist/img/software.svg" alt="software"></a>
      <div class="caption">
        <h3><a href="#/software" translate>software</a></h3>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#/license"><img src="/dist/img/license.svg" alt="license"></a>
      <div class="caption">
        <h3><a href="#/license" translate>license</a></h3>
      </div>
    </div>
  </div>  
</div>