<div class="panel panel-default popup">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>{{action}}</h3>
    <i class="glyphicon glyphicon-remove action action-close right" ng-click="closeThisDialog(true)"></i>
  </div>
  <div class="panel-body">
    <form name="softForm">
      <div class="col-lg-12">
        <label>name</label>
        <input name="name" type="text" class="form-control" ng-model="name">
        <label>version</label>
        <input name="version" type="text" class="form-control" ng-model="version">
        <label>release</label>
        <div class="input-group">
          <input name="release" ng-model="release" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" is-open="popup1" ng-required="true" close-text="Close" alt-input-formats="'yyyy-MM-dd'" ng-click="popup1 = true" ng-value="releaseValue" readonly>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <label>developer</label>
        <select class="form-control" ng-options="dev.name for dev in developers" ng-model="selDeveloper">
          <option value="" disabled>{{developer.name}}</option>
        </select>
        <label>license</label>
        <select class="form-control" ng-options="lic.name for lic in licensies" ng-model="selLicense">
          <option value="" disabled>{{license.name}}</option>
        </select>
        <label>operationSystem</label>
        <div class="btn-group btn-group-justified">
          <label class="btn btn-default" ng-model="windows" uib-btn-checkbox>windows</label>
          <label class="btn btn-default" ng-model="linux" uib-btn-checkbox>linux</label>
          <label class="btn btn-default" ng-model="macOS" uib-btn-checkbox>macOS</label>
        </div>
      </div>
      <div class="col-lg-12 tools">
        <button type="submit" class="btn btn-primary" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
        <button class="btn btn-default right" ng-click="closeThisDialog(true)" style="margin-right: 15px;">Cancel</button>
      </div>
  </form>
</div>