<div class="col-lg-9 no-margin no-padding">
  <div class="row no-margin profile">
    <div class="col-lg-12">
      <div class="panel panel-default no-padding panel-top">
        <div class="panel-body no-padding room">
          <div id="top_img" class="col-lg-12 top"
            flow-init="targetBackground"
            flow-file-added="$file.size < 512000"
            flow-file-success="getBackground(id); $flow.files[0].cancel();"
            ng-init="imageUploadShow = false"
            ng-mouseover="imageUploadShow = true"
            ng-mouseleave="imageUploadShow = false">
            <div class="background"
              >
              <div class="owner"></div>
              <div class="crop"  ng-if="$flow.files[0] == null">
                <img ng-src="data:image/png;base64, {{background}}" onerror="this.src = '/dist/img/error.jpg'">
              </div>
              <div class="crop"  ng-if="$flow.files[0] != null">
                <img flow-img="$flow.files[0]">
                <i class="remove-image" ng-click="$flow.files[0].cancel();"></i>
                <i class="glyphicon glyphicon-ok owner-image-apply" ng-click="$flow.upload();"></i>
              </div>
              <div ng-show="imageUploadShow" class="owner-image-upload show-hide" flow-btn>
                <span ng-if="profile.hotel.logo != 'null'" translate>change</span>
                <span ng-if="profile.hotel.logo == 'null'" translate>add</span>
              </div>
            </div>
            <div class="avatar">
              <a href="#/hotel/{{profile.hotel.id}}">
                <div class="crop">
                  <img ng-src="data:image/png;base64, {{profile.hotel.logo}}" onerror="this.src = '/dist/img/error.jpg'">
                </div>
              </a>
            </div>
            <div class="title-container room-profile-title">
              <div class="title"><h4>{{profile.hotel.name}}</h4></div>
            </div>
          </div>
          <div class="counts">
            <center>
            <div class="count-container">
              <div class="count">{{profile.roomCount}}</div>
              <div class="count-label" translate>roomCount</div>
            </div>
            <div class="count-container" ng-click="openWorkers()">
              <div class="count">{{profile.bedType}}</div>
              <div class="count-label" translate>bedType</div>
            </div>
            <div class="count-container">
              <div class="count">{{profile.breakfast}}</div>
              <div class="count-label" translate>breakfast</div>
            </div>
            </center>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-margin profile">
      <div class="col-lg-12">
        <div class="panel panel-default no-padding">
          <div class="panel-heading">
            <span translate>photos</span>
            <span class="action" ng-click="imageUploadShow = !imageUploadShow"><span translate>upload</span></span>
          </div>
          <div class="panel-body">
            <div class="col-lg-12">
              <div class="row">
                <span
                  flow-init="targetImages"
                  flow-file-added="$file.size < 512000"
                  flow-file-success="getImages(id); imageUploadShow = false"
                  ng-show="imageUploadShow"
                  >
                  <div class="col-lg-12">
                    <br>
                    <div class="thumbnail image-upload" flow-drop>
                      <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" ng-repeat-start="file in $flow.files">
                          <div class="image-container crop">
                            <img flow-img="file">
                            <i class="remove-image" ng-click="$flow.files[$index].cancel();" uib-tooltip="Remove"></i>
                          </div>
                          <uib-progressbar class="progress" value="file.progress() * 100" type="primary"></uib-progressbar>
                        </div>
                        <div class="clearfix" ng-if="$index%3==5"></div>
                        <div ng-repeat-end=""></div>
                      </div>
                      <center>
                      <p ng-if="$flow.files[0] == null"><br>Drag and drop image here (limit 512KB)<br>
                      or</p>
                      </center>
                      <br>
                      <center>
                      <button class="btn btn-default" flow-btn>Browse</button>
                      <button type="submit" class="btn btn-primary" ng-class="{'disabled': $flow.files[0] == null}" ng-click="$flow.upload();"><i class="glyphicon glyphicon-arrow-up"></i> upload</button>
                      </center>
                      <br>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 no-padding room" ng-repeat="image in images">
              <div class="item">
                <div class="item-container">
                  <div class="crop" style="border-radius: 0; width: 100%" ng-click="openImageById($index)">
                    <img ng-src="data:image/png;base64, {{image.decodedImage}}" onerror="this.src = '/dist/img/no_image.gif'">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>