<div id="wrapper">

  <!-- Navigation -->
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav" ng-init="activePage()">
      <li class="sidebar-brand">
        <a href="/" translate>
          hotels
        </a>
      </li>
      <li ng-class="{'active': location() == '/home'}">
        <a href="#/home"><i class="glyphicon glyphicon-th"></i> <b translate>home</b></a>
      </li>
      <li ng-class="{'active': location() == '/hotels'}">
        <a href="#/hotels"><i class="glyphicon glyphicon-home"></i> <span translate>hotels</span></a>
      </li>
      <li ng-class="{'active': location() == '/workers'}" >
        <a href="#/workers"><i class="glyphicon glyphicon-user"></i> <span translate>workers</span></a>
      </li>
      <li ng-class="{'active': location() == '/rooms'}">
        <a href="#/rooms"><i class="glyphicon glyphicon-th-large"></i> <span translate>rooms</span></a>
      </li>
    </ul>
  </nav>

  <div id="page-content-wrapper">

    <div class="container-fluid">

      <ui-view></ui-view>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
