<div id="wrapper">
  <nav id="sidebar-wrapper">
    <div class="logo">H</div>
    <ul class="sidebar-nav" ng-init="activePage()">
      <li ng-class="{'active': location() == '/hotel'}">
        <a href="#/hotel"><i class=""></i> <span translate>hotel</span></a>
      </li>
      <li ng-class="{'active': location() == '/room'}" >
        <a href="#/room"><i class=""></i> <span translate>room</span></a>
      </li>
      <li ng-class="{'active': location() == '/worker'}">
        <a href="#/worker"><i class=""></i> <span translate>worker</span></a>
      </li>
    </ul>
  </nav>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row no-margin no-padding">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>