<div class="popup-container"></div>
  <div id="hotel-delete" class="panel panel-default popup">
    <div class="panel-heading">
      <h3 class="panel-title">Delete</h3>
      <i class="glyphicon glyphicon-remove action action-close right" ng-click="close()"></i>
    </div>
    <div class="panel-body">
      <div class="col-lg-12">
        <h3>Are you sure?</h3>
      </div><!-- /.col-lg-6 -->     
      <div class="col-lg-12 tools">
        <button class="btn btn-danger" ng-click="delete()">Delete</button>
        <a href="/hotels" class="btn btn-default right" style="margin-right: 15px;">Cancel</a>
      </div>
    </div>
  </div>
