<div class="row">
  <div class="col-lg-9 page-top">
    <div class="col-lg-4 col-md-4 col-xs-4 no-padding"><switch id="hotelInfoSwitchShow" name="hotelInfoSwitchShow" ng-model="hotelInfoSwitchShow"></switch></div>
    <div class="col-lg-4 col-md-4 col-xs-4 no-padding"><center><b>{{table}}</b></center></div>
    <div class="col-lg-4 col-md-4 col-xs-4 no-padding">
      <span ng-if="main.content != ''" class="found"><span translate>found</span> {{main.totalElements}} <span translate>hotels</span></span>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 page-content">
    <div class="col-lg-4 col-md-4 col-xs-12 item" ng-repeat="row in main.content">
      <div class="item-container">
        <div ng-mouseover="hotelInfoShow = true" ng-mouseleave="hotelInfoShow = false">
          <div class="col-lg-12 no-padding" >
            <div class="crop" >
              <img src="data:image/png;base64" onerror="this.src='/dist/img/error.jpg'">
            </div>
            <div ng-if="hotelInfoSwitchShow == false" class="info show-hide" ng-show="hotelInfoShow">
              {{row.address}} <br>
              {{row.email}} <br>
              {{row.orderPhoneNumber}} <br>
              <span ng-if="row.rooms.length != 0" uib-tooltip="vacanteRooms" tooltip-placement="bottom" translate>{{row.rooms.length}}</span>
            </div>
            <div class="info show-hide" ng-show="hotelInfoSwitchShow">
              {{row.address}} <br>
              {{row.email}} <br>
              {{row.orderPhoneNumber}} <br>
              <span ng-if="row.rooms.length != 0" uib-tooltip="vacanteRooms" tooltip-placement="bottom" translate>{{row.rooms.length}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-12 description">
          <span class="title"><a href="#/hotel/{{row.id}}">{{row.name}}</a> <span>{{row.city}}</span></span>
        </div>
      </div>
    </div>
    <uib-pagination
    ng-if="main.content != ''"
    total-items="main.totalElements"
    ng-model="currentPage"
    max-size="main.totalElements"
    ng-change="loadPage(currentPage, name, city)"
    class="pagination-sm no-margin">
    </uib-pagination>
    <br>
    <div ng-if="main.content == ''" class="col-lg-12">
      <center>
      <img src="/dist/img/hotel.noresult.png" alt="">
      <h3>Hotel not found</h3>
      <p>
        Try to specify the alternative name of the hotel or to change search parameters.
      </p>
      </center>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 no-padding">
    <div class="panel panel-default filter" offset="25" confine="true">
      <div class="panel-heading" translate>filter</div>
      <div class="panel-body" ui-view="filter"></div>
    </div>
  </div>
</div>