<div class="panel panel-default" >
<div class="panel-heading">
  <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>{{action}}</h3>
  <i class="glyphicon glyphicon-remove action action-close right" ng-click="closeThisDialog(true)"></i>
</div>
<div class="panel-body">
  <ng-form name="hotelForm">
    <div class="col-lg-12 alert alert-danger" ng-show="formNullShow">Value have not null</div>
    <div class="col-lg-6">
      <label translate>name</label>
      <input id="name" name="name" type="name" class="form-control" ng-model="name" maxlength="20" ng-minlength="5"
      uib-tooltip="Мінімум 5 символів"  tooltip-is-open="hotelForm.name.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>city</label>
      <input name="city" type="text" class="form-control" ng-model="city" pattern="[A-zА-я^\s]*"
      uib-tooltip="Тільки символи"  tooltip-is-open="hotelForm.city.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>address</label>
      <input name="address" type="text" class="form-control" ng-model="address" ng-change="checkForm()">
      <label translate>orderPhoneNumber</label>
      <input name="orderPhoneNumber" type="text" class="form-control" ng-model="orderPhoneNumber" placeholder="Приклад: 0986171061" pattern="^([0-9]*)$" maxlength="10"
      uib-tooltip="Тільки цифри"  tooltip-is-open="hotelForm.orderPhoneNumber.$invalid" tooltip-trigger="none" ng-change="checkForm()">
    </div>
    <div class="col-lg-6">
      <label translate>fullDirectorName</label>
      <input name="fullDirectorName" type="text" class="form-control" ng-model="fullDirectorName" maxlength="100" pattern="[A-zА-я^\s]*"
      uib-tooltip="Тільки символи"  tooltip-is-open="hotelForm.fullDirectorName.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>email</label>
      <input name="email" type="email" class="form-control" ng-model="email" placeholder="example@gmail.com"
      uib-tooltip="Неправильний email"  tooltip-is-open="hotelForm.email.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>directorPhoneNumber</label>
      <input name="directorPhoneNumber" type="text" class="form-control" ng-model="directorPhoneNumber" placeholder="Приклад: 0986171061" pattern="^([0-9]*)$" maxlength="10"
      uib-tooltip="Тільки цифри"  tooltip-is-open="hotelForm.directorPhoneNumber.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <!-- <br>
      <button class="btn btn-default" ng-click="openRoomAdd()">
        <span translate>addRoom</span>
        <span class="label label-primary" ng-if="rooms.length != 0">{{rooms.length}}</span>
      </button>

      <button class="btn btn-default" translate>addWorkers</button> -->
    </div>
  </ng-form>
  <div class="col-lg-12 tools">
     <button type="submit" ng-class="{'disabled': !formValid}" class="btn btn-primary" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> <span translate>save</span></button>
    <button class="btn btn-default right" ng-click="closeThisDialog(true)" style="margin-right: 15px;">Cancel</button>
  </div>
</div>
</div>