<div class="panel panel-default room_add_popup" >
	<div class="panel-heading">
		<h3 class="panel-title" translate>addRoom</h3>
		<i class="glyphicon glyphicon-remove action action-close right" ng-click="closeThisDialog(true)"></i>
	</div>
	<div class="panel-body">
		<div class="col-lg-3 col-md-3 col-xs-12 no-padding room" ng-repeat="room in main.content">
			<div class="item">
				<button class="item-container" data-checklist-model="rooms" data-checklist-value="room" uib-btn-checkbox>
				<div class="crop">
					<img ng-src="/dist/img/room.item{{room.id}}.jpg" alt="">
					<div class="info show-hide">
						<b>{{room.roomType}}</b> <br>
						{{room.roomCount}} <span translate>rooms</span>
						<div class="bed">
							<span ng-show="room.bedType"><b>1</b></span>
							<span ng-show="!room.bedType"><b>2</b></span>
							<img src="/dist/img/bed.svg">
						</div>
						<div class="breakfast">
							<img ng-show="room.breakfast" src="/dist/img/breakfast.svg">
						</div>
					</div>
				</div>
				</button>
			</div>
		</div>
		<pre>{{rooms | json}}</pre>
		<div class="col-lg-12 tools">
			<button type="submit" class="btn btn-primary" ng-click="closeThisDialog(true)" translate><i class="glyphicon glyphicon-floppy-disk"></i> save</button>
			<button class="btn btn-default right" ng-click="cancelRoomAdd(); closeThisDialog(true)" style="margin-right: 15px;">Cancel</button>
		</div>
	</div>
</div>