<div class="panel panel-default" ><!-- flow-init="target" -->
<div class="panel-heading">
  <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>{{action}}</h3>
  <i class="glyphicon glyphicon-remove action action-close right" ng-click="closeThisDialog(true)"></i>
</div>
<div class="panel-body">
  <div class="col-lg-6">
    <label translate>name</label>
    <input id="name" name="name" type="name" class="form-control" ng-model="name" placeholder="Enter name"  maxlength="20">
    <label translate>country</label>
    <input name="country" type="text" class="form-control" ng-model="country" placeholder="Enter country">
    <label translate>city</label>
    <input name="city" type="text" class="form-control" ng-model="city" placeholder="Enter city" pattern="[A-z^\s]*" maxlength="35" uib-tooltip="Only numbers" tooltip-is-open="devForm.city.$invalid" tooltip-trigger="none">
  </div>
  <div class="col-lg-6">
    <form name="devForm">
      <label translate>email</label>
      <input name="email" type="email" class="form-control" ng-model="email" placeholder="Enter email"
      uib-tooltip="Is no email adress"  tooltip-is-open="devForm.email.$invalid" tooltip-trigger="none">
      <label translate>street</label>
      <input type="text" class="form-control" ng-model="street" placeholder="Enter street" maxlength="100">
      <label translate>zipcode</label>
      <input type="text" class="form-control" ng-model="zipcode" placeholder="Enter zipcode" maxlength="60">
    </form>
  </div>
  <div class="col-lg-6">
    <form name="devForm">
      <label translate>website</label>
      <input type="text" class="form-control" ng-model="website" placeholder="Enter website" pattern="^[A-Za-z]+$" maxlength="60">
      <label translate>phoneNumber</label>
      <input name="phoneNumber" type="text" class="form-control" ng-model="phoneNumber" placeholder="Example: 0986171061" pattern="^([0-9]*)$" maxlength="10"
      uib-tooltip="Only numbers"  tooltip-is-open="devForm.phoneNumber.$invalid" tooltip-trigger="none">
      <label translate>fax</label>
      <input type="text" class="form-control" ng-model="fax" placeholder="Enter zipcode" maxlength="60">
    </form>
  </div>
  <div class="col-lg-12 tools">
    <button type="submit" class="btn btn-primary" ng-click="save()" translate><i class="glyphicon glyphicon-floppy-disk"></i> save</button>
    <button class="btn btn-default right" ng-click="closeThisDialog(true)" style="margin-right: 15px;">Cancel</button>
  </div>
</div>
</div>