<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Delete</h3>
    <i class="glyphicon glyphicon-remove action action-close right" ng-click="closeThisDialog(true)"></i>
  </div>
  <div class="panel-body">
    <div class="col-lg-12">
      <h4>{{log}}</h4>
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-12 tools">
        <button class="btn btn-danger" ng-click="delete()">Delete</button>
        <button class="btn btn-default right" style="margin-right: 15px;" ng-click="closeThisDialog(true)">Cancel</button>
      </div>
    </div>
  </div>